process {
    withName : GATK4_HAPLOTYPECALLER{
        ext.args    = { [
            '--dont-use-soft-clipped-bases',
            '--create-output-variant-index true',
            params.gatk_hc_call_conf ? "--standard-min-confidence-threshold-for-calling ${params.gatk_hc_call_conf}" : ''
        ].join(' ').trim() }
    }
}
