/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Contaminant genome config file organized by species
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines contaminant genomes for BBSplit/cross-species contamination detection.
    Usage: --contaminant_species mouse
----------------------------------------------------------------------------------------
*/

params {
    // Contaminant reference genomes organized by species
    contaminants {
        // Mouse - common contaminant in human PDX/xenograft studies
        'mouse' {
            genome = "${params.reference_base}/fasta/mus_musculus/dna/Mus_musculus.GRCm39.dna.primary_assembly.fa.gz"
        }

        // Human - handling contamination in animal studies
        'human' {
            genome = "${params.reference_base}/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
        }

        // Rat - rodent facility cross-contamination
        'rat' {
            genome = "${params.reference_base}/fasta/rattus_norvegicus/dna/Rattus_norvegicus.GRCr8.dna.toplevel.fa.gz"
        }

        // Monkey - primate studies cross-contamination
        'monkey' {
            genome = "${params.reference_base}/fasta/macaca_mulatta/dna/Macaca_mulatta.Mmul_10.dna.toplevel.fa.gz"
        }

        // Chicken - virology/vaccine studies
        'chicken' {
            genome = "${params.reference_base}/fasta/gallus_gallus/dna/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.dna.toplevel.fa.gz"
        }

        // Yeast - fungal contamination in cell culture
        'yeast' {
            genome = "${params.reference_base}/fasta/saccharomyces_cerevisiae/dna/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz"
        }

        // Zebrafish - aquatic lab cross-contamination
        'zebrafish' {
            genome = "${params.reference_base}/fasta/danio_rerio/dna/Danio_rerio.GRCz11.dna.primary_assembly.fa.gz"
        }

        // Fruitfly - insect lab cross-contamination
        'fruitfly' {
            genome = "${params.reference_base}/fasta/drosophila_melanogaster/dna/Drosophila_melanogaster.BDGP6.54.dna.toplevel.fa.gz"
        }

        // Worm - C. elegans lab cross-contamination
        'worm' {
            genome = "${params.reference_base}/fasta/caenorhabditis_elegans/dna/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.gz"
        }
    }
}
