/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Custom genome config file organized by species
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes organized by species with standard fields.
    Usage: --species human --genome GRCh38
----------------------------------------------------------------------------------------
*/

params {
    // Custom reference genome paths organized by species
    genomes {
        // Human
        'human' {
            'GRCh38' {
                genome      = "${params.reference_base}/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
                transcript  = "${params.reference_base}/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/homo_sapiens/Homo_sapiens.GRCh38.115.gtf.gz"
                gtf_isoformswitchanalyzer = "${params.reference_base}/gtf/homo_sapiens/Homo_sapiens.GRCh38.115.chr_patch_hapl_scaff.gtf.gz"
            }
        }

        // Mouse
        'mouse' {
            'GRCm38' {
                genome      = "${params.reference_base}/fasta/mus_musculus/dna/Mus_musculus.GRCm39.dna.primary_assembly.fa.gz"
                transcript  = "${params.reference_base}/fasta/mus_musculus/cdna/Mus_musculus.GRCm39.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/mus_musculus/Mus_musculus.GRCm39.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/mus_musculus/Mus_musculus.GRCm39.115.gtf.gz"
            }
        }

        // Rat
        'rat' {
            'GRCr8' {
                genome      = "${params.reference_base}/fasta/rattus_norvegicus/dna/Rattus_norvegicus.GRCr8.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/rattus_norvegicus/cdna/Rattus_norvegicus.GRCr8.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/rattus_norvegicus/Rattus_norvegicus.GRCr8.115.chr.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/rattus_norvegicus/Rattus_norvegicus.GRCr8.115.chr.gtf.gz"
            }
        }

        // Yeast
        'yeast' {
            'R64-1-1' {
                genome      = "${params.reference_base}/fasta/saccharomyces_cerevisiae/dna/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/saccharomyces_cerevisiae/cdna/Saccharomyces_cerevisiae.R64-1-1.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.115.gtf.gz"
            }
        }

        // Fruitfly
        'fruitfly' {
            'BDGP6' {
                genome      = "${params.reference_base}/fasta/drosophila_melanogaster/dna/Drosophila_melanogaster.BDGP6.54.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/drosophila_melanogaster/cdna/Drosophila_melanogaster.BDGP6.54.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/drosophila_melanogaster/Drosophila_melanogaster.BDGP6.54.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/drosophila_melanogaster/Drosophila_melanogaster.BDGP6.54.115.gtf.gz"
            }
        }

        // Zebrafish
        'zebrafish' {
            'GRCz11' {
                genome      = "${params.reference_base}/fasta/danio_rerio/dna/Danio_rerio.GRCz11.dna.primary_assembly.fa.gz"
                transcript  = "${params.reference_base}/fasta/danio_rerio/cdna/Danio_rerio.GRCz11.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/danio_rerio/Danio_rerio.GRCz11.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/danio_rerio/Danio_rerio.GRCz11.115.chr_patch_hapl_scaff.gtf.gz"
            }
        }

        // Worm
        'worm' {
            'WBcel235' {
                genome      = "${params.reference_base}/fasta/caenorhabditis_elegans/dna/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/caenorhabditis_elegans/cdna/Caenorhabditis_elegans.WBcel235.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/caenorhabditis_elegans/Caenorhabditis_elegans.WBcel235.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/caenorhabditis_elegans/Caenorhabditis_elegans.WBcel235.115.gtf.gz"
            }
        }

        // Arabidopsis
        'arabidopsis' {
            'TAIR10' {
                genome      = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-62/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz"
                transcript  = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-62/fasta/arabidopsis_thaliana/cdna/Arabidopsis_thaliana.TAIR10.cdna.all.fa.gz"
                gtf         = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-62/gtf/arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.62.gtf.gz"
                gtf_isoformswitchanalyzer         = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-62/gtf/arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.62.gtf.gz"
            }
        }

        // Chicken
        'chicken' {
            'GRCg7b' {
                genome      = "${params.reference_base}/fasta/gallus_gallus/dna/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/gallus_gallus/cdna/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/gallus_gallus/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/gallus_gallus/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.115.gtf.gz"
            }
        }

        // Cow
        'cow' {
            'ARS-UCD2.0' {
                genome      = "${params.reference_base}/fasta/bos_taurus/dna/Bos_taurus.ARS-UCD2.0.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/bos_taurus/cdna/Bos_taurus.ARS-UCD2.0.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/bos_taurus/Bos_taurus.ARS-UCD2.0.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/bos_taurus/Bos_taurus.ARS-UCD2.0.115.gtf.gz"
            }
        }

        // Pig
        'pig' {
            'Sscrofa11.1' {
                genome      = "${params.reference_base}/fasta/sus_scrofa/dna/Sus_scrofa.Sscrofa11.1.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/sus_scrofa/cdna/Sus_scrofa.Sscrofa11.1.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/sus_scrofa/Sus_scrofa.Sscrofa11.1.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/sus_scrofa/Sus_scrofa.Sscrofa11.1.115.gtf.gz"
            }
        }

        // Dog
        'dog' {
            'ROSCfam1.0' {
                genome      = "${params.reference_base}/fasta/canis_lupus_familiaris/dna/Canis_lupus_familiaris.ROS_Cfam_1.0.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/canis_lupus_familiaris/cdna/Canis_lupus_familiaris.ROS_Cfam_1.0.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/canis_lupus_familiaris/Canis_lupus_familiaris.ROS_Cfam_1.0.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/canis_lupus_familiaris/Canis_lupus_familiaris.ROS_Cfam_1.0.115.gtf.gz"
            }
        }

        // Monkey
        'monkey' {
            'Mmul_10' {
                genome      = "${params.reference_base}/fasta/macaca_mulatta/dna/Macaca_mulatta.Mmul_10.dna.toplevel.fa.gz"
                transcript  = "${params.reference_base}/fasta/macaca_mulatta/cdna/Macaca_mulatta.Mmul_10.cdna.all.fa.gz"
                gtf         = "${params.reference_base}/gtf/macaca_mulatta/Macaca_mulatta.Mmul_10.115.gtf.gz"
                gtf_isoformswitchanalyzer         = "${params.reference_base}/gtf/macaca_mulatta/Macaca_mulatta.Mmul_10.115.gtf.gz"
            }
        }
    }
}
