/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    //
    // PREPARE_GENOME
    //
    withName: 'PREPARE_GENOME:UNTAR_HISAT2_INDEX|PREPARE_GENOME:HISAT2_BUILD' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference/hisat2" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }

    withName: 'PREPARE_GENOME:UNTAR_SORTMERNA_INDEX|PREPARE_GENOME:SORTMERNA_INDEX' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference/sortmerna" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }

    withName: 'PREPARE_GENOME:UNTAR_BBSPLIT_INDEX|PREPARE_GENOME:BBSPLIT_INDEX' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference/bbsplit" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }

    withName: 'PREPARE_GENOME:UNTAR_SALMON_INDEX|PREPARE_GENOME:SALMON_INDEX' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference/salmon" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }

    withName: 'PREPARE_GENOME:GUNZIP_KALLISTO_INDEX|PREPARE_GENOME:KALLISTO_INDEX' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference/kallisto" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }

    withName: 'PREPARE_GENOME:GUNZIP_GENOME|PREPARE_GENOME:GUNZIP_GTF|PREPARE_GENOME:GUNZIP_GFF|PREPARE_GENOME:GUNZIP_BED|PREPARE_GENOME:GXF2BED|PREPARE_GENOME:HISAT2_EXTRACTSPLICESITES|PREPARE_GENOME:HISAT2_EXTRACTEXONS|PREPARE_GENOME:DEXSEQ_PREPAREANNOTATION' {
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/reference/genome" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }

    //
    // HISAT2_ALIGN
    //
    withName: '.*:HISAT2_ALIGN' {
        publishDir = [
            path: { "${params.outdir}/alignment/hisat2/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,summary}",
        ]
    }

    //
    // FASTQ_FASTQC_EXTRACT_CUTADAPT_BBSPLIT_SORTMERNA
    //
    withName: '.*:FASTQ_FASTQC_EXTRACT_CUTADAPT_BBSPLIT_SORTMERNA:FASTQC_RAW' {
        ext.prefix = {"${meta.id}_raw"}
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc/raw/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,zip}',
            enabled: !params.skip_fastqc
        ]
    }
    withName: '.*:FASTQ_FASTQC_EXTRACT_CUTADAPT_BBSPLIT_SORTMERNA:FASTQC_TRIM' {
        ext.prefix = {"${meta.id}_trimmed"}
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc/trim/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,zip}',
            enabled: !params.skip_fastqc
        ]
    }
    withName: '.*:FASTQ_FASTQC_EXTRACT_CUTADAPT_BBSPLIT_SORTMERNA:UMITOOLS_EXTRACT' {
        publishDir = [
            path: { "${params.outdir}/preprocessing/umitools/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{fastq.gz,log}',
            enabled: params.with_umi
        ]
    }
    withName: '.*:FASTQ_FASTQC_EXTRACT_CUTADAPT_BBSPLIT_SORTMERNA:CUTADAPT' {
        ext.args    = { [
            meta.sequencer in ["NovaSeq","NextSeq"] ? "--nextseq-trim=20 -m 50" : "--max-n 0 -m 36",
            "-q 20,20"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/preprocessing/trimmed/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{fastq.gz,json}',
            enabled: !params.skip_trimming
        ]
    }
    withName: '.*:FASTQ_FASTQC_EXTRACT_CUTADAPT_BBSPLIT_SORTMERNA:BBMAP_BBSPLIT' {
        ext.args    = [
            'maxindel=1000000',
            'minhits=1',
            'minratio=0.5'
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/preprocessing/bbsplit/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*{primary*.fastq.gz,stats.txt}',
            enabled: !params.skip_bbsplit
        ]
    }
    withName: '.*:FASTQ_FASTQC_EXTRACT_CUTADAPT_BBSPLIT_SORTMERNA:SORTMERNA' {
        publishDir = [
            path: { "${params.outdir}/preprocessing/sortmerna/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*{non_rRNA*.fq.gz,.log}',
            enabled: !params.skip_sortmerna
        ]
    }

    //
    // FASTQ_SAMPLE_SEQKIT_SALMON
    //
    withName : '.*:FASTQ_SAMPLE_SEQKIT_SALMON:SEQKIT_SAMPLE' {
        ext.prefix = {"${meta.id}.subsample"}
        publishDir = [ enabled: false ]
    }
    withName : '.*:FASTQ_SAMPLE_SEQKIT_SALMON:SALMON_QUANT' {
        ext.args = "--skipQuant"
        ext.prefix = {"${meta.id}_subsamples"}
        publishDir = [ enabled: false ]
    }

    //
    // FASTQ_QUANT_PSEUDOALIGNMENT
    //
    withName: '.*:FASTQ_QUANT_PSEUDOALIGNMENT:KALLISTO_QUANT' {
        ext.args    = { params.bootstrap_count ? "-b ${params.bootstrap_count}" : '' }
        publishDir = [
            path: { "${params.outdir}/quantification/kallisto" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:FASTQ_QUANT_PSEUDOALIGNMENT:SALMON_QUANT' {
        publishDir = [
            path: { "${params.outdir}/quantification/salmon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // BAM_SORT_INDEX_DEDUP_SAMTOOLS_UMITOOLS_FEATURECOUNTS
    //
    withName: '.*:BAM_SORT_INDEX_DEDUP_SAMTOOLS_UMITOOLS_FEATURECOUNTS:SAMTOOLS_SORT|.*:BAM_SORT_INDEX_DEDUP_SAMTOOLS_UMITOOLS_FEATURECOUNTS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/alignment/native/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai}"
        ]
    }
    withName: '.*:BAM_SORT_INDEX_DEDUP_SAMTOOLS_UMITOOLS_FEATURECOUNTS:SAMTOOLS_SORT_DEDUP|.*:BAM_SORT_INDEX_DEDUP_SAMTOOLS_UMITOOLS_FEATURECOUNTS:SAMTOOLS_INDEX_DEDUP|.*:BAM_SORT_INDEX_DEDUP_SAMTOOLS_UMITOOLS_FEATURECOUNTS:UMITOOLS_DEDUP' {
        publishDir = [
            path: { "${params.outdir}/alignment/deduplicated/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*{.bam,.bai,.log,edit_distance.tsv,per_umi.tsv,per_position.tsv}",
            enabled: params.with_umi
        ]
    }
    withName: '.*:BAM_SORT_INDEX_DEDUP_SAMTOOLS_UMITOOLS_FEATURECOUNTS:SUBREAD_FEATURECOUNTS' {
        publishDir = [
            path: { "${params.outdir}/quantification/featurecounts/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{counts.txt,summary}"
        ]
    }

    //
    // BAM_RSEQC
    //
    withName: '.*:BAM_RSEQC:RSEQC_.*' {
        publishDir = [
            path: { "${params.outdir}/quality_control/rseqc/${task.process.tokenize(':')[-1].toLowerCase().replace('rseqc_', '')}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // COUNTS_MATRIXGENERATION
    //
    withName: '.*:COUNTS_MATRIXGENERATION:TX2GENE|.*:COUNTS_MATRIXGENERATION:TXIMPORT|.*:COUNTS_MATRIXGENERATION:MERGE_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/quantification/merged_matrices" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,rds}"
        ]
    }

    //
    // BAM_BAMLIST_AVGLEN_RMATS
    //
    withName: '.*:BAM_BAMLIST_AVGLEN_RMATS:RMATS_POST|.*:BAM_BAMLIST_AVGLEN_RMATS:RMATS_PREP' {
        ext.args = { [
            params.statoff ? '--statoff' : '',
            params.novelss ? '--novelSS' : '',
            params.allowclipping ? '--allow-clipping' : '',
            params.individualcounts ? '--individual-counts' : ''
        ].join(' ').trim() }
    }
    withName: '.*:BAM_BAMLIST_AVGLEN_RMATS:RMATS_POST|.*:BAM_BAMLIST_AVGLEN_RMATS:FILTER_SIGEVENTS|.*:BAM_BAMLIST_AVGLEN_RMATS:RMATS2SASHIMIPLOT' {
        publishDir = [
            path: { "${params.outdir}/differential_analysis/rmats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // BAM_DEXSEQ_DEU_ENRICHMENT
    //
    withName: '.*:BAM_DEXSEQ_DEU_ENRICHMENT:DEXSEQ_COUNT' {
        publishDir = [
            path: { "${params.outdir}/differential_analysis/dexseq/counts/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.counts.txt"
        ]
    }
    withName: '.*:BAM_DEXSEQ_DEU_ENRICHMENT:DEXSEQ_DEU|.*:BAM_DEXSEQ_DEU_ENRICHMENT:GO_ENRICHMENT|.*:BAM_DEXSEQ_DEU_ENRICHMENT:KEGG_ENRICHMENT' {
        publishDir = [
            path: { "${params.outdir}/differential_analysis/dexseq/results" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // COUNTS_ISOFORM_SWITCH_ENRICHMENT
    //
    withName: '.*:COUNTS_ISOFORM_SWITCH_ENRICHMENT:.*' {
        publishDir = [
            path: { "${params.outdir}/differential_analysis/isoform_switch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION
    //
    withName: '.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:EDGER_VOOM|.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:LIMMA_DE|.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:DESEQ2_DE' {
        publishDir = [
            path: { "${params.outdir}/differential_analysis/gene_expression/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:QC_VISUALIZATION|.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:DE_VISUALIZATION|.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:GO_ENRICHMENT|.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:KEGG_ENRICHMENT|.*:COUNTS_DIFFEXPR_QC_ENRICHMENT_VISUALIZATION:MSIGDB_GSEA' {
        publishDir = [
            path: { "${params.outdir}/differential_analysis/gene_expression/plots_and_enrichment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // MULTIQC
    //
    withName: '.*:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/quality_control/multiqc" },
            mode: params.publish_dir_mode,
            pattern: '*{.html,_data,_plots}',
            enabled: !params.skip_multiqc
        ]
    }
}
