process {
    withName : GATK4_BASERECALIBRATOR {
        ext.args    =  '--use-original-qualities'
        ext.prefix  = { "${meta.id}.baserecalibrator" }
    }
    withName : GATK4_APPLYBQSR {
        ext.args    = [
            '--use-original-qualities',
            '--add-output-sam-program-record'
        ].join(' ').trim()
        ext.prefix  = { "${meta.id}.recal" }
    }
    withName : GATK4_SPLITNCIGARREADS {
        ext.args    =  '--create-output-bam-index false'
        ext.prefix  = { "${meta.id}.splitncigarreads" }
    }
}
