process {
    withName : GATK4_INTERVALLISTTOOLS{
        ext.args    = { [
            '--SUBDIVISION_MODE BALANCING_WITHOUT_INTERVAL_SUBDIVISION_WITH_OVERFLOW',
            '--UNIQUE true',
            '--SORT true',
            params.gatk_interval_scatter_count ? "--SCATTER_COUNT ${params.gatk_interval_scatter_count}" : ''
        ].join(' ').trim() }
    }
}
