process {
    withName : RMATS {
        ext.args    = { [
            params.statoff ? '--statoff' : '',
            params.novelss ? '--novelSS' : '',
            params.allowclipping ? '--allow-clipping' : '',
            params.individualcounts ? '--individual-counts' : ''
        ].join(' ').trim() }
    }
}
