process {

    withName : 'FASTQ_SAMPLE_SEQKIT_SALMON:SEQKIT_SAMPLE' {
        ext.prefix = {"${meta.id}.subsample"}
        publishDir = [
            enabled: false
        ]
    }

    withName : 'FASTQ_SAMPLE_SEQKIT_SALMON:SALMON_QUANT' {
        ext.args = "--skipQuant"
        ext.prefix = {"${meta.id}_subsamples"}
        publishDir = [
            enabled: false
        ]
    }

}
