process {
    withName: UMITOOLS_EXTRACT {
        ext.args = { [
            params.umi_extract_method ? "--extract-method=${params.umi_extract_method}" : '',
            params.umi_separator ? "--umi-separator=${params.umi_separator}" : '',
            params.umitools_bc_pattern ? "--bc-pattern ${params.umitools_bc_pattern}" :
                (params.lib_kit == "quantseq" ? "--bc-pattern '^(?P<umi_1>.{6})(?P<discard_1>.{4}).*'" :
                params.lib_kit == "corall"   ? "--bc-pattern '^(?P<umi_1>.{12}).*'" :
                params.lib_kit == "takara"   ? "--bc-pattern '^(?P<umi_1>.{8})(?P<discard_1>.{6}).*'" : ''),
            params.umitools_bc_pattern2 ? "--bc-pattern ${params.umitools_bc_pattern2}" : ''
        ].join(' ').trim() }
    }
}
